@font-face {
    font-family: "garet-book";
    src: url(../fonts/Garet-Book.ttf);
}

@font-face {
    font-family: "garet-heavy";
    src: url(../fonts/Garet-Heavy.ttf);
}

body{
    background-color: rgb(129, 174, 224);
    padding: 0;
    margin: 0;
    font-family: garet-book, sans-serif;
}

header{
    position: fixed;
    right: 1;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: transparent;
}

ul{
    list-style-type: none;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
    
}

.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    text-decoration: none;
}

.navlist a:hover{
    border-bottom:2px solid white
}